.App {
  display: flex;
  width: 800px;
  margin: auto;
}

.image {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.image-big {
  height: 250px;
  width: 250px;
  padding: 20px;
  object-fit: cover;
  margin: auto;
  border-radius: 30px;
}

.bigCard {
  background-color: rgb(230, 230, 230);
  width: 500px;
  height: auto;
  text-align: center;
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px #818181;
}

.bigCard-name {
  font-size: 32px;
}

.profession {
  text-transform: capitalize;
}

.smallCard {
  width: 300px;
  height: 60px;
  background-color: rgb(230, 230, 230);
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px #818181;
}

.smallCard:hover {
  background-color: rgb(153, 153, 153);
}

.smallCard:active {
  background-color: rgb(61, 61, 61);
}

.smallCard-contents {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  height: auto;
  margin: 0;
  padding: 10px;
  position: relative;
}

.smallCard-name {
  font-size: 16px;
}

.smallCard-art {
  font-size: 12px;
  padding-top: 5px;
}

@media screen and (max-width: 800px) {
  .App {
    display: block;
    width: auto;
  }
  .smallCard {
    min-width: 200px;
    width: auto;
    height: 40px;
    display: inline-block;
  }
  .bigCard {
    width: auto;
  }
  .smallCard-contents {
    display: inline-block;
    padding: 0px 10px;
  }
  .image {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media screen and (max-width: 400px) {
  .image-big {
    height: 150px;
    width: 150px;
  }
}